<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= person.recipient %>
  </p>

  <p>
    <strong>Wishlist:</strong>
    <%= person.wishlist %>
  </p>

</div>
