<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>
   <p>
    <strong>Members:</strong>
    <ul>
    <%= group.people.each do |person| %>
    <li><%= person.name %>
    </li>
    <% end %>
    </ul>
   </p>

</div>
